[Unit]
Description=Wallet RPC Daemon
After=network.target

[Service]
Type=simple
Restart=always

# Change this line to set the location of your coin wallet RPC daemon and set the RPC port you want to use
ExecStart=/home/ubuntu/monero/build/Linux/release-v0.16/release/bin/monero-wallet-rpc --rpc-bind-ip=127.0.0.1 --rpc-bind-port=18980 --daemon-host=127.0.0.1:18081 --wallet-file /home/ubuntu/monero/build/Linux/release-v0.16/release/bin/ubuntu --password=Kasarnyasar#1997 --confirm-external-bind --disable-rpc-login

# Change this line to the user that will run your wallet RPC daemon
User=ubuntu

[Install]
WantedBy=multi-user.target
