[Unit]
Description=Mining Pool Service
After=network.target

[Service]
Type=simple
Restart=always
SyslogIdentifier=cryptonote-nodejs-pool
ExecStart=/usr/bin/node init.js

# Change to the location of cryptonote-node-js-pool
WorkingDirectory=/home/ubuntu/pool

# Set user and group that will run the pool
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
